.rodape {
  background-size: 100% 100%;
  height: 80px;
  width: 100%;

  border-top: 3px solid #4169e1;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #003366 !important;
  color: #fff;

  -webkit-print-color-adjust: exact;
}

a {
  color: #e0ffff;
}

a:hover {
  color: #b0e0e6;
}

.texto {
  font-size: 30px;
}

@media (max-width: 576px) {
  .texto {
    font-size: 16px;
  }
}
