<div class="rodape">
  <div class="container">
    <div class="row" style="max-width: 1024px;">
      <div class="col">
        <div class="d-flex justify-content-center">
          <h1 class="texto" style="color: #fff;">
            JOSHUA MAIA RODRIGUES -
            <a
              href="https://www.linkedin.com/in/joshua-maia-rodrigues-662634110/"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            -
            <a href="https://github.com/joshuamaia"
              ><i class="fab fa-github"></i
            ></a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
