.covid {
  min-height: 56vh;
  position: relative;
  -webkit-print-color-adjust: exact;
}

.texto {
  text-align: right;
}

.botoes {
  width: 100%;
}

.cardCovidPesquisa {
  /* border: 2px solid #364061; */
  box-shadow: 0 0 4px 4px #b0e2ff;
  background-color: #3b1d98;
}

.textoConfirmados {
  color: rgb(248, 245, 64);
}

.textoObitos {
  color: #ffc0cb;
}

.cruz {
  background: #4f4f4f;
  background-image: linear-gradient(to bottom, #4f4f4f, #808080);
}

.cardCovid {
  box-shadow: 0 0 4px 4px #b0e2ff;
  background-color: #3b1d98;
}
.cardCovidInternal {
  min-height: 100px;
  border: 1px solid #fff;
  background: #3b1d98;
}

.titulo {
  font-size: 30px;
}

@media (max-width: 576px) {
  .titulo {
    font-size: 16px;
    margin: 5px;
  }
}
