<div class="container trabalho">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternalDestaque card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels-destaque">
                  CODATA - Analista de Tecnologia da Informação - Setembro de
                  2014 até hoje
                </h5>
                <div class="col-auto">
                  <div
                    class="
                      icon
                      botoes
                      icon-shape
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-network-wired"></i>
                  </div>
                </div>
              </div>
              <span class="font-weight-bold textCurriculoDestaque">
                Atuando como Desenvolvedor Full Stack Sênior em projetos
                diversos para o cliente Estado da Paraíba.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternalDestaque card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels-destaque">
                  MJV - Especialista de Tecnologia - Dezembro de 2021 até hoje
                </h5>
                <div class="col-auto">
                  <div
                    class="
                      icon
                      botoes
                      icon-shape
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-network-wired"></i>
                  </div>
                </div>
              </div>
              <span class="font-weight-bold textCurriculoDestaque">
                Atuando como Backend no cliente Santander.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">
                  COGNIZANT - Frontend - Fevereiro de 2021 até Junho de 2021
                </h5>
                <div class="col-auto">
                  <div
                    class="
                      icon
                      botoes
                      icon-shape
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-building"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Atuando como Frontend no cliente Ford.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">
                  CAPGEMINI - Analista de Sistemas - Novembro de 2020 - Janeiro
                  de 2021
                </h5>
                <div class="col-auto">
                  <div
                    class="
                      icon
                      botoes
                      icon-shape
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-building"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Atuação no desenvolvimento/análise de sistemas para o Senado
                Federal.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">
                  TOTVS - Analista de Sistemas - Agosto 2013 - Janeiro 2014
                </h5>
                <div class="col-auto">
                  <div
                    class="
                      icon
                      botoes
                      icon-shape
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-building"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Trabalhando alocado no cliente UNICRED.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">
                  DYNAVIDEO - Engenheiro de Software - Setembro 2009 - Fevereiro
                  2010
                </h5>
                <div class="col-auto">
                  <div
                    class="
                      icon
                      botoes
                      icon-shape
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-building"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Fez parte da equipe do projeto no projeto ITVP.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
