<div class="container trabalho">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">
                  CODATA - Setembro de 2014 até hoje
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-network-wired"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                <h5 class="card-title text-uppercase mb-2 labels">
                  Mantém e evolui Sistemas de Informação utilizando a
                  metodologia Scrum. Segue abaixo alguns dos projetos que faço
                  parte:
                </h5>

                <ul>
                  <li>
                    SIOP PB (Sistema Integrado de Planejamento e Orçamento).
                    Foram usadas as tecnologias Angular 9, Bootstrap 4, Html,
                    Spring Boot, Query DSL, Java, Postgres, entre outros...
                  </li>
                  <li>
                    Transparência saúde. Sistema de prestação de contas das
                    organizações sociais. No mesmo, temos lançamento de
                    despesas, receitas, contratos, entre outros. Foram usadas
                    tecnologias tais como JSF, Primefaces, Demoiselle, POI,
                    Java, Eclipse, Critéria Builder, Postgres, entre outras.
                  </li>
                  <li>
                    STET (Sistema de prestação de contas). Foram usada as
                    tecnologias Angular 9, Angular Material 9, Spring Boot 2,
                    JWT, Hibernate Envers, Bootstrap 4, PrimeNg, Java dentre
                    muitas outras tecnologias...
                  </li>
                  <li>
                    SIOP (Sistema Integrado de Planejamento e Orçamento).
                    Trabalhando no desenvolvimento de relatórios com Jasper
                    Studio.
                  </li>
                  <li>
                    Liquidação Client (Sistema que mostra dados do empenho, das
                    liquidação e dos pagamentos relacionados a um determinado
                    empenho). Foram usadas tecnologias como Angular 9, Angular
                    Material 9, TypeScript, JavaScript, HTML, CSS, entre outras
                    tecnologias...
                  </li>
                  <li>
                    Integração do Sistema de Procedimentos Policiais da Paraíba
                    com o SINESP. Foram usadas tecnologias como Spring Boot,
                    Spring Data JPA, Java, Eclipse, Postgres, Axis, entre outras
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">
                  TOTVS - Agosto 2013 - Janeiro 2014
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-building"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                Trabalhando alocado no cliente UNICRED. As principais
                tecnologias utilizadas são Java, Jboss Seam, JSF e Richfaces.
                Banco de dados SQL Server.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">
                  DYNAVIDEO - Setembro 2009 - Fevereiro 2010
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-book-bookmark"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                Fez parte da equipe do projeto no projeto ITVP. Dentre as
                principais atividades, desenvolvimento de 2 FileUploader, um
                para envio de um arquivo e outro para envio de múltiplos
                arquivos, ambos feitos em Swing, um mecanismo de importação de 2
                bancos de dados onde foi utilizado JDOM, JDBC e JPA e
                refactoring de parte da API da empresa utilizando JPA. Nas
                atividades foi utilizado a IDE eclipse.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
