<div class="container certificado">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Java</h5>

                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fab fa-java"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                <button class="btn botoes btn-sm" (click)="openModal(java)">
                  Certificado
                </button>
                Sun Certified Java Programmer 1.5 (2007)
              </span>
              <ng-template #java>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Sun Certified Java Programmer 1.5
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="modalRef.hide()"
                    >
                      <span class="header-modal-close" aria-hidden="true"
                        >&times;</span
                      >
                    </button>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    class="imagens"
                    src="../../assets/certificacaoJava.jpg"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Scrum</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fa fa-book"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                <ul>
                  <li>
                    <button
                      class="btn botoes btn-sm"
                      (click)="openModal(scrumcertiprof)"
                    >
                      Certificado
                    </button>
                    Scrum Foundation Profissional Certificate (2020 - CertiProf)

                    <ng-template #scrumcertiprof>
                      <div class="modal-header header-modal">
                        <h4 class="modal-title pull-left">
                          Scrum Foundation Profissional Certificate
                          <button
                            type="button"
                            class="close pull-right"
                            aria-label="Close"
                            (click)="modalRef.hide()"
                          >
                            <span class="header-modal-close" aria-hidden="true"
                              >&times;</span
                            >
                          </button>
                        </h4>
                      </div>
                      <div class="modal-body modalcss">
                        <img
                          class="imagens"
                          src="../../assets/certificadoScrumCertiProf.jpg"
                        />
                      </div>
                    </ng-template>
                  </li>
                  <li>
                    <button
                      class="btn botoes btn-sm"
                      (click)="openModal(scrumcstudy)"
                    >
                      Certificado
                    </button>
                    Scrum Fundamentals Certified (2020 - SCRUMStudy)

                    <ng-template #scrumcstudy>
                      <div class="modal-header header-modal">
                        <h4 class="modal-title pull-left">
                          Scrum Fundamentals Certified
                          <button
                            type="button"
                            class="close pull-right"
                            aria-label="Close"
                            (click)="modalRef.hide()"
                          >
                            <span class="header-modal-close" aria-hidden="true"
                              >&times;</span
                            >
                          </button>
                        </h4>
                      </div>
                      <div class="modal-body modalcss">
                        <img
                          class="imagens"
                          src="../../assets/certificadoScrumStudy.jpg"
                        />
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Devops</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-wrench"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                <button class="btn botoes btn-sm" (click)="openModal(devops)">
                  Certificado
                </button>
                Devops Essentials Profissional Certificate (2019)
              </span>
              <ng-template #devops>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Devops Essentials Profissional Certificate
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="modalRef.hide()"
                    >
                      <span class="header-modal-close" aria-hidden="true"
                        >&times;</span
                      >
                    </button>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    class="imagens"
                    src="../../assets/CertificateDevOps.jpg"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
