<div class="container covid">
  <div class="card card-stats cardCovid animacaoTopDown">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3 class="card-title cardCovidText mb-2">
            COVID MUNDO - Atualizado em
            {{ covidMundo.lastUpdate | date: "dd/MM/yyyy HH:mm:ss" }}
          </h3>
          <div class="row">
            <div class="col-xl-4 col-md-4">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0 labelsCovid">
                        Casos Confirmados
                      </h5>

                      <span class="h3 textoConfirmados font-weight-bold mb-0">
                        {{ covidMundo.confirmed.value | number }} Pessoas
                      </span>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                      >
                        <i class="fas fa-clinic-medical"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0 labelsCovid">
                        Casos Recuperados
                      </h5>

                      <span class="h3 textoRecuperados font-weight-bold mb-0">
                        {{ covidMundo.recovered.value | number }} Pessoas
                      </span>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                      >
                        <i class="fas fa-briefcase-medical"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0 labelsCovid">
                        Casos de Óbitos
                      </h5>

                      <span class="h3 textoObitos font-weight-bold mb-0">
                        {{ covidMundo.deaths.value | number }} Pessoas
                      </span>

                      <p class="mb-0 text-sm">
                        <span style="color: #ffc0cb" class="mr-2">
                          Letalidade
                          {{
                            (covidMundo.deaths.value /
                              covidMundo.confirmed.value) *
                              100 | number: "1.2-2"
                          }}
                          %
                        </span>
                      </p>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape cruz text-white rounded-circle shadow"
                      >
                        <i class="fas fa-cross"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card cardCovidPesquisa card-stats animacaoTopDown">
    <div class="card-body">
      <div class="form-row pesquisar-card">
        <div class="col-md-3">
          <h3 class="texto pesquisar-texto">Pesquisar País:</h3>
        </div>
        <div class="col-md-6">
          <ng-select
            id="pais"
            [items]="paises.countries"
            bindLabel="name"
            class="NgSelect"
            [searchable]="true"
            [(ngModel)]="pais"
            required="true"
            (change)="mudarPais()"
          >
            <ng-template ng-label-tmp let-item="item">
              <img
                class="bandeira"
                src="https://www.countryflags.io/{{ item.iso2 }}/flat/64.png"
              /><span class="ml-2">{{ item.name }}</span>
            </ng-template>
            <ng-template
              ng-option-tmp
              let-item="item"
              let-search="searchTerm"
              let-index="index"
            >
              <img
                class="bandeira"
                src="https://www.countryflags.io/{{ item.iso2 }}/flat/64.png"
              /><span class="ml-2">{{ item.name }}</span>
            </ng-template>
          </ng-select>
        </div>
        <div class="col-md-3">
          <button
            type="submit"
            class="btn btn-success botoes"
            (click)="print()"
          >
            Imprimir <i class="fas fa-print"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-stats cardCovid animacaoTopDown">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3 class="card-title cardCovidText mb-2">
            COVID {{ pais.name }} - Atualizado em
            {{ detalhePais.lastUpdate | date: "dd/MM/yyyy HH:mm:ss" }}
          </h3>
          <div class="row">
            <div class="col-xl-4 col-md-4">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0 labelsCovid">
                        Casos Confirmados
                      </h5>

                      <span class="h3 textoConfirmados font-weight-bold mb-0">
                        {{ detalhePais.confirmed.value | number }} Pessoas
                      </span>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                      >
                        <i class="fas fa-clinic-medical"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0 labelsCovid">
                        Casos Recuperados
                      </h5>

                      <span class="h3 textoRecuperados font-weight-bold mb-0">
                        {{ detalhePais.recovered.value | number }} Pessoas
                      </span>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                      >
                        <i class="fas fa-briefcase-medical"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-4">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0 labelsCovid">
                        Casos de Óbitos
                      </h5>

                      <span class="h3 textoObitos font-weight-bold mb-0">
                        {{ detalhePais.deaths.value | number }} Pessoas
                      </span>
                      <p class="mb-0 text-sm">
                        <span style="color: #ffc0cb" class="mr-2">
                          Letalidade
                          {{
                            (detalhePais.deaths.value /
                              detalhePais.confirmed.value) *
                              100 | number: "1.2-2"
                          }}
                          %
                        </span>
                      </p>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape cruz text-white rounded-circle shadow"
                      >
                        <i class="fas fa-cross"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="card">
                <div style="background-color: #220b5e" class="card-header">
                  <h6 style="color: #fff" class="surtitle">
                    <img
                      src="https://www.countryflags.io/{{
                        pais.iso2
                      }}/flat/64.png"
                    />
                    COVID {{ pais.name }}
                  </h6>
                </div>

                <highcharts-chart
                  [Highcharts]="highcharts"
                  [options]="chartOptions"
                  style="width: 100%; height: 350px; display: block"
                >
                </highcharts-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
