<div class="container trabalho">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h2 class="card-title text-uppercase mb-4 labels">
                  Capgemini - Agosto de 2023 - Janeiro 2024
                </h2>
              </div>
              <span class="h3 mb-4">
                Atuando como Desenvolvedor Full Stack Sênior em cliente do setor
                financeiro utilizando Angular, Java, Spring Boot, Maven, NPM,
                Jira, Bitbucket, DB2.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h2 class="card-title text-uppercase mb-4 labels">
                  CODATA - Setembro 2014 - Setembro 2023
                </h2>
              </div>
              <span class="h3 mb-4">
                Atua como em projetos diversos para o cliente ESTADO DA PARAÍBA
                utilizando TypeScript, Hibernate, Jasper Reports, Angular,
                Angular Material, Angular (Framework CSS, HTML5, Bootstrap,
                Materialize CSS, Spring Boot, Security, Data e MVC, Java SQL,
                Spring Framework, JPA , Eclipse, Linux, Apache Maven, JavaScript
                , JSON, GIT.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h2 class="card-title text-uppercase mb-4 labels">
                  Meta - Novembro 2022 - Fevereiro 2023
                </h2>
              </div>
              <span class="h3 mb-4">
                Atuou na equipe de sustentação no Ministério da Justiça
                utilizando: Kanban, TypeScript, Angular (Framework), CSS, HTML5,
                Bootstrap, Spring Boot, Security e MVC, SCRUM, Apache Maven,
                JavaScript, GIT.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h2 class="card-title text-uppercase mb-4 labels">
                  Cognizant - Fevereiro 2021 - Junho 2021
                </h2>
              </div>
              <span class="h3 mb-4">
                Atuou como Frontend no cliente FORD utilizando: Kanban, Primeng,
                Angular (Framework), HTML5, CSS, SCRUM, Angular, JavaScript ,
                JSON, GIT.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h2 class="card-title text-uppercase mb-4 labels">
                  Capgemini - Novembro de 2020 - Janeiro 2021
                </h2>
              </div>
              <span class="h3 mb-4">
                Atuou no desenvolvimento/análise de sistemas para o SENADO
                FEDERAL, utilizando: Kanban, Hibernate, Primeng, Core, Java,
                Angular (Framework), CSS, HTML5, Spring Boot,Spring Data,Spring,
                Java,SCRUM,Spring Framework, JPA, Eclipse, Angular, JavaScript ,
                JSON, GIT, Springboot.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
