.covid {
  min-height: 56vh;
  position: relative;
  -webkit-print-color-adjust: exact;
}

.cardCovidInternal {
  min-height: 100px;
}

.cardCovidPesquisa {
  border: 2px solid #4b0082;
}

.texto {
  text-align: right;
}

.botoes {
  width: 100%;
}

.cruz {
  background: #000000;
  background-image: linear-gradient(to bottom, #4f4f4f, #1c1c1c);
}

.cardCovid {
  background: #9c27b0;
  background-image: linear-gradient(to bottom, #4b0082, #9c27b0);
}

.titulo {
  font-size: 30px;
}

@media (max-width: 576px) {
  .titulo {
    font-size: 16px;
    margin: 5px;
  }
}
