<div class="container idioma">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Inglês</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-books"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Entendimento razoável do idioma para leitura.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Espanhol</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-books"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Entendimento razoável do idioma, para leitura e compreensão da
                linguagem falada.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
