<div class="container certificado">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card mt-3">
          <div class="card-header">
            <h2>Certificações Cloud</h2>
          </div>
          <div class="card-content">
            <ul>
              <li class="mb-2">
                <app-certificado-template
                  titulo="AWS Certified Cloud Practitioner (CLF-C02) (29/11/2023 - 29/11/2026)"
                  srcImage="../../assets/awsCloudPractitioner.jpeg"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Microsoft Certified: Azure Fundamentals"
                  srcImage="../../assets/certificacaoAZ900.png"
                ></app-certificado-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card mt-3">
          <div class="card-header">
            <h2>Arquitetura de Software</h2>
          </div>
          <div class="card-content">
            <ul>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Clean Code e Clean Architecture - Rodrigo Branas"
                  srcImage="../../assets/cleanCodeECleanArchitecture.jpg"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="BPMN"
                  srcImage="../../assets/bpmnJoshua.jpg"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Arquiteturas incrementais e escaláveis (2022 - Coffee and
                  it)"
                  srcImage="../../assets/Arquiteturasincrementais.jpg"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Clean Architecture (2022 - Full Cycle)"
                  srcImage="../../assets/CleanArchitecture.png"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Domain Driven Design (2022 - Full Cycle)"
                  srcImage="../../assets/DDD.png"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="SOLID (2022 - Full Cycle)"
                  srcImage="../../assets/SOLID.png"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Fundamentos de Arquitetura (2022 - Full Cycle)"
                  srcImage="../../assets/FundamentosArquitetura.png"
                ></app-certificado-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card mt-3">
          <div class="card-header">
            <h2>Java</h2>
          </div>
          <div class="card-content">
            <ul>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Resultado Sun Certified Java Programmer 1.5 (2007)"
                  srcImage="../../assets/certificacaoJava.jpg"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Cerificado Sun Certified Java Programmer 1.5 (2007)"
                  srcImage="../../assets/certificacaoJavaJoshua.jpg"
                ></app-certificado-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card mt-3">
          <div class="card-header">
            <h2>Scrum</h2>
          </div>
          <div class="card-content">
            <ul>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Scrum Foundation Profissional Certificate (2020 - CertiProf)"
                  srcImage="../../assets/certificadoScrumCertiProf.jpg"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Scrum Fundamentals Certified (2020 - SCRUMStudy)"
                  srcImage="../../assets/certificadoScrumStudy.jpg"
                ></app-certificado-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card mt-3">
          <div class="card-header">
            <h2>Devops</h2>
          </div>
          <div class="card-content">
            <ul>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Docker (2022 -Full Cycle)"
                  srcImage="../../assets/docker.png"
                ></app-certificado-template>
              </li>
              <li class="mb-2">
                <app-certificado-template
                  titulo="Devops Essentials Profissional Certificate (2020 -
                  CertiProf)"
                  srcImage="../../assets/CertificateDevOps.jpg"
                ></app-certificado-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
