<div class="container covid animacaoTopDown">
  <div class="card card-stats cardCovid">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3 class="card-title cardCovidText mb-2">
            COVID PARAÍBA - Atualizado em
            {{ paraiba.date | date: "dd/MM/yyyy" }}
          </h3>
          <div class="row">
            <div class="col-xl-6 col-md-6">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase labelsCovid mb-0">
                        Casos Confirmados
                      </h5>

                      <span class="h3 textoConfirmados font-weight-bold mb-0">
                        {{ paraiba.confirmed | number }} Pessoas
                      </span>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                      >
                        <i class="fas fa-clinic-medical"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-md-6">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase labelsCovid mb-0">
                        Casos de Óbitos
                      </h5>

                      <span class="h3 textoObitos font-weight-bold mb-0">
                        {{ paraiba.deaths | number }} Pessoas
                      </span>

                      <p class="mb-0 text-sm">
                        <span style="color: #ffc0cb" class="mr-2">
                          Letalidade
                          {{
                            (paraiba.deaths / paraiba.confirmed) * 100
                              | number: "1.2-2"
                          }}
                          %
                        </span>
                      </p>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape cruz text-white rounded-circle shadow"
                      >
                        <i class="fas fa-cross"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card cardCovidPesquisa card-stats">
    <div class="card-body">
      <div class="form-row pesquisar-card">
        <div class="col-md-3">
          <h3 class="texto pesquisar-texto">Pesquisar Cidade:</h3>
        </div>
        <div class="col-md-6">
          <ng-select
            id="estado"
            [items]="cidades"
            bindLabel="city"
            class="NgSelect"
            [searchable]="true"
            [(ngModel)]="cidadeSelecionado"
            required="true"
            (change)="mudarCidade()"
          >
          </ng-select>
        </div>
        <div class="col-md-3">
          <button
            type="submit"
            class="btn btn-success botoes"
            (click)="print()"
          >
            Imprimir <i class="fas fa-print"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-stats cardCovid">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3 class="card-title cardCovidText mb-2">
            COVID {{ cidadeSelecionado.city }} - Atualizado em
            {{ cidadeSelecionado.date | date: "dd/MM/yyyy" }}
          </h3>
          <div class="row">
            <div class="col-xl-6 col-md-6">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase labelsCovid mb-0">
                        Casos Confirmados
                      </h5>

                      <span class="h3 textoConfirmados font-weight-bold mb-0">
                        {{ cidadeSelecionado.confirmed | number }} Pessoas
                      </span>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                      >
                        <i class="fas fa-clinic-medical"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-6">
              <div class="card cardCovidInternal card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase labelsCovid mb-0">
                        Casos de Óbitos
                      </h5>

                      <span class="h3 textoObitos font-weight-bold mb-0">
                        {{ cidadeSelecionado.deaths | number }} Pessoas
                      </span>

                      <p class="mb-0 text-sm">
                        <span style="color: #ffc0cb" class="mr-2">
                          Letalidade
                          {{
                            (cidadeSelecionado.deaths /
                              cidadeSelecionado.confirmed) *
                              100 | number: "1.2-2"
                          }}
                          %
                        </span>
                      </p>
                    </div>

                    <div class="col-auto">
                      <div
                        class="icon icon-shape cruz text-white rounded-circle shadow"
                      >
                        <i class="fas fa-cross"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-header-title surtitle">
                    COVID {{ cidadeSelecionado.city }}
                  </h6>
                </div>

                <highcharts-chart
                  [Highcharts]="highcharts"
                  [options]="chartOptions"
                  style="width: 100%; height: 350px; display: block"
                >
                </highcharts-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
