<div class="container home">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h2 class="card-title text-uppercase mb-4 labels">Resumo</h2>
              </div>
              <span class="h3 fmb-0">
                <p>
                  Com 15 anos de experiência em desenvolvimento de software,
                  atualmente atuo como Desenvolvedor Full Stack Sênior, tendo
                  construído uma carreira sólida em diversas áreas da
                  tecnologia. Minha trajetória é marcada pelo compromisso com a
                  agilidade, qualidade dos processos e pontualidade na entrega
                  de resultados.
                </p>
                <p>Principais habilidades e experiências:</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    Análise e Gestão de Projetos: Requisitos, planejamento,
                    codificação, teste e integração.
                  </li>
                  <li class="list-group-item">
                    Front End Avançado: Angular 17, PrimeNg 16, Angular Material
                    12, Vue, PrimeVue, Bootstrap 5, HTML, CSS, SASS/SCSS,
                    TypeScript e JavaScript.
                  </li>
                  <li class="list-group-item">
                    Back End Competente: Experiência robusta com Spring Boot,
                    Java, Kotlin, JDBC, JPA e Hibernate.
                  </li>
                  <li class="list-group-item">
                    Arquitetura de Software: Práticas em Clean Architecture,
                    Hexagonal Architecture, além de codificação com princípios
                    SOLID.
                  </li>
                  <li class="list-group-item">
                    Metodologias Ágeis: Proficiência em SCRUM e Kanban.
                  </li>
                  <li class="list-group-item">
                    Serviços Web: Desenvolvimento de serviços RESTful e SOAP.
                  </li>
                  <li class="list-group-item">
                    Relatórios e Microsserviços: Criação com Jasper Studio e
                    desenvolvimento de microsserviços usando Spring Cloud
                    Netflix.
                  </li>
                  <li class="list-group-item">
                    Ferramentas e Gestão de Projetos: Experiência com REDMINE,
                    JIRA, Docker, Maven, Yarn, Npm, Eclipse, Intellij e VS Code.
                  </li>
                  <li class="list-group-item">
                    Bancos de Dados: Gerenciamento de RDBMSs como MySQL, SQL
                    Server e PostgreSQL.
                  </li>
                  <li class="list-group-item">
                    Controle de Versão e Testes: Proficiência com Git e
                    realização de testes unitários com Junit, Mockito, Jasmine e
                    Karma.
                  </li>
                  <li class="list-group-item">
                    Línguas e Outras Tecnologias: Inglês técnico, além de
                    conhecimentos em Golang e Python.
                  </li>
                </ul>
                <p>Confira meus projetos e contribuições:</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    GitHub: https://github.com/joshuamaia
                  </li>
                  <li class="list-group-item">
                    Currículo online: https://joshuamr.com.br/
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
