<div class="container projetos">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title mb-0 labels">
                  SMJCALC -
                  <a href="https://smjcalc.joshuamr.com.br/"
                    >https://smjcalc.joshuamr.com.br/</a
                  >
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-calculator"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                Calculadora jurídica. Aplicação desenvolvida a partir da
                identificação de demandas no meio jurídico. Inicialmente, tendo
                em consideração que, em muitos contratos de financiamento, são
                incluídas tarifas declaradas ilegais judicialmente, criou-se uma
                ferramente para a realização do cálculo de quanto o consumidor
                pagou a titulo de juros remuneratórios sobre o montante reputado
                abusivo. Posteriormente, desenvolveu-se também uma ferramenta
                que possibilitasse o rápido cálculo das indenizações do seguro
                DPVAT, nos termos da Lei 6.194/74.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title mb-0 labels">
                  GoBarber (Bootcamp Rocketseat)
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-cut"></i>
                  </div>
                </div>
              </div>

              <span class="h3 font-weight-bold mb-0">
                <button class="btn botoes btn-sm" (click)="openModal(gobarber)">
                  Visualizar Imagens
                </button>
                Projeto focado em clientes e prestadores de serviço no ramo de
                barbearia. O mesmo foi desenvolvido com React Js, React Native e
                Node.
              </span>
              <ng-template #gobarber>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Go Barber
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="modalRef.hide()"
                    >
                      <span class="header-modal-close" aria-hidden="true"
                        >&times;</span
                      >
                    </button>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/loginGoBarber.png"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/dashboardGoBarber.png"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/crirarContaGoBarber.png"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/loginGobarberAndroid.png"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/listaGobarberAndroid.png"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/agendamentoGoBarberAndroid.png"
                      />
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title mb-0 labels">
                  SIGA - Soluções Integradas de Gestão Administrativa
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-desktop"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                <button class="btn botoes btn-sm" (click)="openModal(siga)">
                  Visualizar Imagens
                </button>
                Projeto base para outros projetos, com CRUD de usuário,
                autenticação JWT, Angular 9, filtros nas listagens, paginação,
                query DSL no backend, dentre muitas outras tecnologias...
              </span>
              <ng-template #siga>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    SIGA - Soluções Integradas de Gestão Administrativa
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="modalRef.hide()"
                    >
                      <span class="header-modal-close" aria-hidden="true"
                        >&times;</span
                      >
                    </button>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/loginSiga.png"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/listaUsuarios.png"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-md-6">
                      <img
                        class="imagensGoBarber"
                        src="../../assets/detalheUsuario.png"
                      />
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title mb-0 labels">
                  Desafio Módulo 01 - Bootcamp Full Stack IGTI
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>

              <span class="h3 font-weight-bold mb-0">
                Características do desafio: Buscar em uma API dados dos
                usuários, filtrando pelo nome colocado na entrada de dados,
                ignorando maiúscula de minúscula, pesquisando por qualquer
                trecho do nome ou sobrenome e a ação de busca pode ser acionada
                pela tecla Enter ou pelo botão de busca. O DOM da lista de
                usuários e os dados de estatística foram alimentados
                programaticamente pelo Javascript.
              </span>
              <div class="card cardCovidInternalProjetos card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-xl-10 col-md-6">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>

                        <input
                          (keyup)="change($event)"
                          placeholder="Insira um nome"
                          id="nome"
                          type="text"
                          class="form-control"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <small class="font-weight-bold"> Nome </small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col col-xl-2 col-md-6">
                      <button (click)="pesquisar()" class="btn botoes">
                        buscar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardCovidInternalProjetos card-stats">
                <div class="card-body">
                  <span style="color: #fff" class="card-title cabecalho"
                    >Estatísticas</span
                  >
                  <div class="row">
                    <div style="color: #000080" class="col-md-3">
                      <div class="card cardInternalHomem card-stats">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5
                                style="color: #000080"
                                class="card-title mb-0"
                              >
                                Sexo Masculino
                              </h5>
                              <strong id="masculino">0</strong>
                            </div>
                            <div class="col-auto">
                              <div
                                style="
                                  background-image: linear-gradient(
                                    to bottom,
                                    #6495ed,
                                    #000080
                                  );
                                "
                                class="icon icon-shape text-white rounded-circle shadow"
                              >
                                <i class="fas fa-male"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="color: #ff00ff" class="col-md-3">
                      <div class="card cardInternalMulher card-stats">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5
                                style="color: #ff00ff"
                                class="card-title mb-0"
                              >
                                Sexo Feminino
                              </h5>
                              <strong id="feminino">0</strong>
                            </div>
                            <div class="col-auto">
                              <div
                                style="
                                  background-image: linear-gradient(
                                    to bottom,
                                    #ee82ee,
                                    #ff00ff
                                  );
                                "
                                class="icon icon-shape text-white rounded-circle shadow"
                              >
                                <i class="fas fa-female"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="color: #8b4513" class="col-md-3">
                      <div class="card cardInternalSomaIdade card-stats">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5
                                style="color: #8b4513"
                                class="card-title mb-0"
                              >
                                Soma das idades
                              </h5>
                              <strong id="soma">0</strong>
                            </div>
                            <div class="col-auto">
                              <div
                                style="
                                  background-image: linear-gradient(
                                    to bottom,
                                    #bc8f8f,
                                    #8b4513
                                  );
                                "
                                class="icon icon-shape text-white rounded-circle shadow"
                              >
                                <i class="fas fa-plus"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="color: #4b0082" class="col-md-3">
                      <div class="card cardInternalMediaIdade card-stats">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5
                                style="color: #4b0082"
                                class="card-title mb-0"
                              >
                                Média das idades
                              </h5>
                              <strong id="media">0</strong>
                            </div>
                            <div class="col-auto">
                              <div
                                style="
                                  background-image: linear-gradient(
                                    to bottom,
                                    #4b0082,
                                    #9c27b0
                                  );
                                "
                                class="icon icon-shape text-white rounded-circle shadow"
                              >
                                <i class="fas fa-balance-scale"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardCovidInternalProjetos card-stats">
                <div class="card-body">
                  <div class="card-content">
                    <span
                      id="usuariosEncontrados"
                      style="color: #fff"
                      class="card-title cabecalho"
                    ></span>
                    <div id="listaUsuarios"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title mb-0 labels">
                  Trabalho Prático Módulo 01 - Bootcamp Full Stack IGTI
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>

              <span class="h3 font-weight-bold mb-0">
                Características do desafio: Modificar as cores através das
                entradas Vermelho, Verde e Azul. As seleções formam um código
                RGB e de forma programática, com Javascript, o componente tem
                sua cor atualizado.
              </span>

              <div class="card cardCovidInternalProjetos card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: center;
                        "
                      >
                        <div class="divRgb">
                          <h3 id="titulo" class="mt-2"></h3>
                        </div>
                      </div>
                      <div
                        id="quadradoRGB"
                        style="
                          margin-top: 20px;
                          width: 100%;
                          border-radius: 5px;
                          height: 40vh;
                          border: 2px solid #fff !important;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      >
                        <div class="componentes">
                          <div class="row">
                            <div style="color: red" class="col-xl-4 col-md-4">
                              (R) Vermelho
                            </div>
                            <div class="col-xl-4 col-md-4">
                              <input
                                (change)="changeRGB()"
                                value="0"
                                class="inputRed"
                                id="redInput"
                                type="range"
                                min="0"
                                max="255"
                              />
                            </div>
                            <div class="col-xl-4 col-md-4">
                              <input
                                value="0"
                                style="color: red; width: 100%"
                                id="redInputValue"
                                type="text"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="row">
                            <div style="color: green" class="col-xl-4 col-md-4">
                              (G) Verde
                            </div>
                            <div class="col-xl-4 col-md-4">
                              <input
                                (change)="changeRGB()"
                                class="inputGreen"
                                value="0"
                                id="greenInput"
                                type="range"
                                min="0"
                                max="255"
                              />
                            </div>
                            <div class="col-xl-4 col-md-4">
                              <input
                                value="0"
                                style="color: green; width: 100%"
                                id="greenInputValue"
                                type="text"
                                disabled
                              />
                            </div>
                          </div>
                          <div class="row">
                            <div style="color: blue" class="col-xl-4 col-md-4">
                              (B) Azul
                            </div>
                            <div class="col-xl-4 col-md-4">
                              <input
                                (change)="changeRGB()"
                                class="inputBlue"
                                id="blueInput"
                                type="range"
                                value="0"
                                min="0"
                                max="255"
                              />
                            </div>
                            <div class="col-xl-4 col-md-4">
                              <input
                                value="0"
                                style="color: blue; width: 100%"
                                id="blueInputValue"
                                type="text"
                                disabled
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title mb-0 labels">
                  Trabalho Prático Módulo 01 - Bootcamp Front end IGTI
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>

              <span class="h3 font-weight-bold mb-0">
                Características do desafio: Calculadora com inúmeras funções
                matemáticas.
              </span>

              <div
                class="card text-center cardCovidInternalProjetos card-stats"
              >
                <div class="card-body white-text">
                  <span class="card-title center-align titulo"
                    >Super Calculador</span
                  >
                </div>

                <div class="card-body">
                  <div class="row input-container">
                    <div class="form-group col-xl-6 col-md-6">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>

                        <input
                          (change)="changeNumero($event)"
                          placeholder="Digite o número A..."
                          id="numeroa"
                          type="text"
                          class="form-control"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <small class="font-weight-bold"> Número A </small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-xl-6 col-md-6">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>

                        <input
                          (change)="changeNumero($event)"
                          placeholder="Digite o número B..."
                          id="numerob"
                          type="text"
                          class="form-control"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <small class="font-weight-bold"> Número B </small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="card text-center cardCovidInternalProjetos card-stats card-container-calculos"
                  >
                    <div class="card-body white-text">
                      <span class="card-title center-align titulo-calculos"
                        >Cálculos</span
                      >
                    </div>
                    <div class="card-body">
                      <div class="row input-container-resultado">
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="somaab">Soma (A + B)</label>
                          <input
                            value="0"
                            id="somaab"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="subtracaoab">Subtração (A - B)</label>
                          <input
                            value="0"
                            id="subtracaoab"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="subtracaoba">Subtração (B - A)</label>
                          <input
                            value="0"
                            id="subtracaoba"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="row input-container-resultado">
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="multiplicacaoab"
                            >Multiplicação (A x B)</label
                          >
                          <input
                            value="0"
                            id="multiplicacaoab"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="divisaoab">Divisão (A &#247; B)</label>
                          <input
                            value="0"
                            id="divisaoab"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="divisaoba">Divisão (B &#247; A)</label>
                          <input
                            value="0"
                            id="divisaoba"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="row input-container-resultado">
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="quadradoa">Quadrado de A (A²)</label>
                          <input
                            value="0"
                            id="quadradoa"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="quadradob">Quadrado de B (B²)</label>
                          <input
                            value="0"
                            id="quadradob"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="divisoresa"
                            >Divisores inteiros de A</label
                          >
                          <input
                            value="0"
                            id="divisoresa"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="row input-container-resultado">
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="divisoresb"
                            >Divisores inteiros de B</label
                          >
                          <input
                            value="0"
                            id="divisoresb"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="fatoriala">Fatorial de A (A!)</label>
                          <input
                            value="0"
                            id="fatoriala"
                            type="text"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="input-field col-xl-4 col-md-6 input-resultado"
                        >
                          <label for="fatorialb">Fatorial de B (B!)</label>
                          <input
                            value="0"
                            id="fatorialb"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
