.projetos {
  min-height: 56vh;
  position: relative;
  -webkit-print-color-adjust: exact;
}

.imagensGoBarber {
  margin: 5px;
  width: 100%;
  height: auto;
}

.componentes {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #312e38 !important;
}

.divRgb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.cardCovidInternal {
  /* border: 1px solid #fff; */
  box-shadow: 0 0 4px 4px #b0e2ff;
  background-color: #3b1d98;
}

.cardCovidInternalProjetos {
  border: 1px solid #fff;
  /* box-shadow: 2px 3px 2px #fff; */
  background-color: #3b1d98;
}

.cardInternalHomem {
  border: 1px solid #000080;
  min-height: 100px;
}

.cardInternalMulher {
  border: 1px solid #ff00ff;
  min-height: 100px;
}

.cardInternalSomaIdade {
  border: 1px solid #8b4513;
  min-height: 100px;
}

.cardInternalMediaIdade {
  border: 1px solid #4b0082;
  min-height: 100px;
}

.inputRed::-moz-range-track {
  background-image: linear-gradient(to right, #000, red);
}

.inputRed::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #000, red);
}

.inputGreen::-moz-range-track {
  background-image: linear-gradient(to right, #000, green);
}

.inputGreen::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #000, green);
}

.inputBlue::-moz-range-track {
  background-image: linear-gradient(to right, #000, blue);
}

.inputBlue::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #000, blue);
}

h3,
.h3 {
  font-size: 1.0625rem;
  color: #fff;
}

.input-entrada input {
  color: #add8e6 !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-entrada label {
  color: #b0e2ff !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-container {
  padding: 10px;
  box-shadow: 0 0 4px 4px #b0e2ff;
}

.input-resultado label {
  color: #ee82ee !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-resultado input {
  color: #220b5e !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-container-resultado {
  margin: 15px;
  padding: 10px;
  box-shadow: 0 0 4px 4px #ee82ee;
}

.card-container {
  margin-top: 10px !important;
  box-shadow: 0 0 4px 4px #b0e2ff !important;
}

.card-container-calculos {
  margin-top: 20px !important;
  box-shadow: 0 0 4px 4px #ee82ee !important;
}

.titulo {
  font-size: 40px !important;
  color: #b0e2ff !important;
}

.titulo-calculos {
  font-size: 40px !important;
  color: #ee82ee !important;
}

@media (max-width: 576px) {
  h3,
  .h3 {
    font-size: 0.7625rem;
  }

  .titulo {
    font-size: 25px !important;
    color: #b0e2ff !important;
  }
  .titulo-calculos {
    font-size: 25px !important;
    color: #ee82ee !important;
  }
}
