.projetos {
  min-height: 56vh;
  position: relative;
  -webkit-print-color-adjust: exact;
}

.imagensGoBarber {
  margin: 5px;
  width: 100%;
  height: auto;
}

.componentes {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #312e38 !important;
}

.divRgb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.cardCovidInternal {
  /* border: 1px solid #fff; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #fff;
}

.cardCovidInternalProjetos {
  border: 1px solid #4b0082;

  background-color: #fff;
}

.cardInternalHomem {
  border: 1px solid #000080;
  min-height: 100px;
}

.cardInternalMulher {
  border: 1px solid #ff00ff;
  min-height: 100px;
}

.cardInternalSomaIdade {
  border: 1px solid #deb887;
  min-height: 100px;
}

.cardInternalMediaIdade {
  border: 1px solid #4b0082;
  min-height: 100px;
}

.inputRed::-moz-range-track {
  background-image: linear-gradient(to right, #000, red);
}

.inputRed::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #000, red);
}

.inputGreen::-moz-range-track {
  background-image: linear-gradient(to right, #000, green);
}

.inputGreen::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #000, green);
}

.inputBlue::-moz-range-track {
  background-image: linear-gradient(to right, #000, blue);
}

.inputBlue::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #000, blue);
}

h3,
.h3 {
  font-size: 1.0625rem;
  color: #fff;
}

.input-entrada input {
  color: #add8e6 !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-entrada label {
  color: #000 !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-container {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.input-resultado label {
  color: #000 !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-resultado input {
  color: #021440 !important;
  font-size: 18px !important;
  margin: 5px !important;
}

.input-container-resultado {
  margin: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-container {
  margin-top: 10px !important;
  box-shadow: 0 0 4px 4px #dcdcdc !important;
}

.card-container-calculos {
  margin-top: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.titulo {
  font-size: 40px !important;
  color: #000 !important;
}

.titulo-calculos {
  font-size: 40px !important;
  color: #000 !important;
}

.link-projeto {
  margin-left: 10px;
}

.link-projeto:hover {
  color: #363636;
}

.pf-char:before {
  font-family: Arial; /* your font family here! */
  font-weight: bold;
  content: attr(data-char-content);
}

@media (max-width: 576px) {
  h3,
  .h3 {
    font-size: 0.7625rem;
  }

  .titulo {
    font-size: 25px !important;
    color: #000 !important;
  }
  .titulo-calculos {
    font-size: 25px !important;
    color: #000 !important;
  }
}
