ul {
  background-color: #2a2a2a !important; /* Cor de fundo escura para a lista */
}

.active {
  background: #333333; /* Fundo mais escuro para itens ativos */
  color: #fff !important; /* Texto branco para contraste */
  border-radius: 7px;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Sombra mais definida para o dropdown */
  background-color: #333333; /* Fundo escuro para o dropdown */
}

/* Estilização dos itens do menu */
.nav-link {
  color: #ccc; /* Cor mais clara para os links, para melhor contraste */
  transition: color 0.3s; /* Transição suave para mudanças de cor */
  padding: 5px;
}

.nav-link:hover,
.nav-link:focus {
  color: #00ddff; /* Cor azul clara ao passar o mouse ou focar, mantendo a paleta fria */
}

/* Dropdown e itens do submenu */
.nav-item a {
  margin: 3px;
  color: #bbb; /* Cor padrão dos itens do dropdown mais clara para contraste */
}

.nav-item a:hover {
  color: #fff; /* Cor do texto no hover */
  background-color: #0099cc; /* Cor de fundo azul no hover */
  border-radius: 6px;
}

/* Responsividade */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #333333; /* Cor de fundo no modo colapsado mais escura */
  }
}

/* Ícones FontAwesome */
.fa-icon {
  margin-right: 5px; /* Espaçamento à direita dos ícones */
}
