<div class="row animacaoTopDown">
  <div class="col-xl-12 col-md-12">
    <div class="card cardCovidInternal card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="cabecalho">
              <h5 class="card-title text-uppercase mb-4 labels">
                {{ titulo }}
              </h5>
              <div class="col-auto">
                <div
                  class="icon botoes icon-shape text-white rounded-circle shadow"
                >
                  <i class="ni ni-spaceship"> </i>
                </div>
              </div>
            </div>
            <span class="h3 mb-4">
              <button class="btn btn-info" (click)="open(certificado)">
                Certificado
              </button>
              <ng-content></ng-content>
            </span>
            <ng-template #certificado>
              <div class="modal-header header-modal">
                <h4 class="modal-title pull-left">
                  {{ titulo }}
                  <a style="cursor: pointer" class="m-2" (click)="close()">
                    <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
                  </a>
                </h4>
              </div>
              <div class="modal-body modalcss">
                <img
                  style="width: 100%; height: auto"
                  class="imagens"
                  [src]="srcImage"
                />
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
