.covid {
  min-height: 56vh;
  position: relative;
}

.cardCovidInternal {
  min-height: 100px;
  border: 1px solid #000;
  background: #696969;
}

.cardCovidPesquisa {
  /* border: 2px solid #364061; */
  box-shadow: 0 0 4px 4px #000;
  background-color: #a9a9a9;
}

.textoConfirmados {
  color: rgb(248, 245, 64);
}

.textoObitos {
  color: #ffc0cb;
}

.texto {
  text-align: right;
}

.botoes {
  width: 100%;
}

.cruz {
  background: #4f4f4f;
  background-image: linear-gradient(to bottom, #4f4f4f, #808080);
}

.cardCovid {
  box-shadow: 0 0 4px 4px #000;
  background-color: #a9a9a9;
}

.titulo {
  font-size: 30px;
}

@media (max-width: 576px) {
  .titulo {
    font-size: 16px;
    margin: 5px;
  }
}
