<div class="container escolaridade">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-4 labels">
                  Bootcamp - Desenvolvedor React
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 mb-4">
                <button class="btn btn-info" (click)="open(reactxpeducacao)">
                  Certificado
                </button>
                Aprenda a trabalhar com o desenvolvimento do Front-End de
                aplicações, utilizando uma das principais linguagens de
                programação da atualidade, o JavaScript, e uma das principais
                ferramentas do mercado, o React.
              </span>
              <ng-template #reactxpeducacao>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Certificado Bootcamp - React
                    <a class="m-2" (click)="close()">
                      <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
                    </a>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    style="width: 100%; height: auto"
                    class="imagens"
                    src="../../assets/BootcampReact.png"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-4 labels">
                  Bootcamp - Desenvolvedor Front End
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 mb-4">
                <button
                  class="btn btn-info"
                  (click)="open(desenvolvedorfrontendxpeducacao)"
                >
                  Certificado
                </button>
                O Bootcamp tem como objetivo apresentar conceitos fundamentais
                sobre o desenvolvimento Front-End e orientar o aluno a praticar
                codificação utilizando duas principais ferramentas de
                desenvolvimento Front-End do mercado (Angular e Vue).
              </span>
              <ng-template #desenvolvedorfrontendxpeducacao>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Certificado Bootcamp - Desenvolvedor Front end
                    <a class="m-2" (click)="close()">
                      <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
                    </a>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    style="width: 100%; height: auto"
                    class="imagens"
                    src="../../assets/BootcampDesenvolvedorFrontEnd.png"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-4 labels">
                  Bootcamp - Cientista de ados de renda fixa
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 mb-4">
                <button
                  class="btn btn-info"
                  (click)="open(cienciasdedadosxpeducacao)"
                >
                  Certificado
                </button>
                Juntamos a nossa expertise em finanças com a tecnologia nesse
                bootcamp único no Brasil. Aprenda com quem revolucionou o
                mercado financeiro e também vai revolucionar a sua carreira.
                Resolva problemas reais do mundo financeiro com técnicas de
                Ciência de Dados.
              </span>
              <ng-template #cienciasdedadosxpeducacao>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Certificado Bootcamp - Cientista de Dados de Renda Fixa
                    <a class="m-2" (click)="close()">
                      <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
                    </a>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    style="width: 100%; height: auto"
                    class="imagens"
                    src="../../assets/BootcampCientistaDeDados.png"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-4 labels">
                  Full Cycle 3.0
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 mb-4">
                Esse curso foi desenhado para desenvolvedores que desejam dar um
                grande salto em suas carreiras sendo capazes de entregar
                aplicações de gente grande, independente da linguagem de
                programação. Esse curso é para quem quer se tornar um Full Cycle
                Developer. Se você já desenvolveu alguma aplicação antes. Esse
                curso é para você.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-4 labels">
                  Gostack 11 - Rocketseat
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 mb-4">
                <button class="btn btn-info" (click)="open(rocketseat)">
                  Certificado
                </button>
                O GoStack é um treinamento online, prático e intensivo, no
                formato de bootcamp. No GoStack o aluno vai a fundo nas
                tecnologias NodeJS, ReactJS e React Native, e todo o ecossistema
                ao redor dessas ferramentas, do zero ao deploy. Incluindo testes
                automatizados, integração contínua, publicação nas stores, e
                todas as bibliotecas e frameworks importantes para quem deseja
                ficar pronto para os desafios do mundo real e se destacar no
                mercado de trabalho.
              </span>
              <ng-template #rocketseat>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Certificado Bootcamp - Gostack 11
                    <a class="m-2" (click)="close()">
                      <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
                    </a>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    style="width: 100%; height: auto"
                    class="imagens"
                    src="../../assets/certificadoJoshuaRocketseat.png"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-12">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-4 labels">IGTI</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 mb-4">
                <button class="btn btn-info" (click)="open(fullstackigti)">
                  Certificado
                </button>
                Bootcamp onde conhecerão técnicas de construção de uma aplicação
                passando por todas as suas camadas lógicas - backend com Node,
                frontend com React, persistência de dados NoSQL, controle de
                versionamento de código com Git e implantação em nuvem -
                habilitando-se para atuar profissionalmente na área.
              </span>
              <ng-template #fullstackigti>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Certificado Bootcamp -Full Stack
                    <a class="m-2" (click)="close()">
                      <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
                    </a>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    style="width: 100%; height: auto"
                    class="imagens"
                    src="../../assets/certificadoFullStackIGTI.png"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
