<div class="container escolaridade">
  <app-certificado-escolaridade-extra
    titulo="Bootcamp - Desenvolvedor React"
    srcImage="../../assets/BootcampReact.png"
  >
    Aprenda a trabalhar com o desenvolvimento do Front-End de aplicações,
    utilizando uma das principais linguagens de programação da atualidade, o
    JavaScript, e uma das principais ferramentas do mercado, o React.
  </app-certificado-escolaridade-extra>
  <app-certificado-escolaridade-extra
    titulo="Bootcamp - Desenvolvedor Front End"
    srcImage="../../assets/BootcampDesenvolvedorFrontEnd.png"
  >
    O Bootcamp tem como objetivo apresentar conceitos fundamentais sobre o
    desenvolvimento Front-End e orientar o aluno a praticar codificação
    utilizando duas principais ferramentas de desenvolvimento Front-End do
    mercado (Angular e Vue). ferramentas do mercado, o React.
  </app-certificado-escolaridade-extra>
  <app-certificado-escolaridade-extra
    titulo="Bootcamp - Cientista de ados de renda fixa"
    srcImage="../../assets/BootcampCientistaDeDados.png"
  >
    Juntamos a nossa expertise em finanças com a tecnologia nesse bootcamp único
    no Brasil. Aprenda com quem revolucionou o mercado financeiro e também vai
    revolucionar a sua carreira. Resolva problemas reais do mundo financeiro com
    técnicas de Ciência de Dados.
  </app-certificado-escolaridade-extra>
  <app-certificado-escolaridade-extra
    titulo="Gostack 11 - Rocketseat"
    srcImage="../../assets/certificadoJoshuaRocketseat.png"
  >
    O GoStack é um treinamento online, prático e intensivo, no formato de
    bootcamp. No GoStack o aluno vai a fundo nas tecnologias NodeJS, ReactJS e
    React Native, e todo o ecossistema ao redor dessas ferramentas, do zero ao
    deploy. Incluindo testes automatizados, integração contínua, publicação nas
    stores, e todas as bibliotecas e frameworks importantes para quem deseja
    ficar pronto para os desafios do mundo real e se destacar no mercado de
    trabalho.
  </app-certificado-escolaridade-extra>
  <app-certificado-escolaridade-extra
    titulo="Certificado Bootcamp -Full Stack"
    srcImage="../../assets/certificadoFullStackIGTI.png"
  >
    Bootcamp onde conhecerão técnicas de construção de uma aplicação passando
    por todas as suas camadas lógicas - backend com Node, frontend com React,
    persistência de dados NoSQL, controle de versionamento de código com Git e
    implantação em nuvem - habilitando-se para atuar profissionalmente na área.
  </app-certificado-escolaridade-extra>
</div>
