<div class="container escolaridade">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Estácio</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-laptop-code"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                Especialista em Engenharia de Software
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Uniespe</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-graduation-cap"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                Tecnólogo em Análise e Desenvolvimento de Sistemas
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">UFCG</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-graduation-cap"></i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                Licenciatura Plena em Matemática
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">
                  Gostack 11 - Rocketseat
                </h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                <button
                  class="btn botoes btn-sm"
                  (click)="openModal(rocketseat)"
                >
                  Certificado
                </button>
                O GoStack é um treinamento online, prático e intensivo, no
                formato de bootcamp. No GoStack o aluno vai a fundo nas
                tecnologias NodeJS, ReactJS e React Native, e todo o ecossistema
                ao redor dessas ferramentas, do zero ao deploy. Incluindo testes
                automatizados, integração contínua, publicação nas stores, e
                todas as bibliotecas e frameworks importantes para quem deseja
                ficar pronto para os desafios do mundo real e se destacar no
                mercado de trabalho.
              </span>
              <ng-template #rocketseat>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Certificado Bootcamp - Gostack 11
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="modalRef.hide()"
                    >
                      <span class="header-modal-close" aria-hidden="true"
                        >&times;</span
                      >
                    </button>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    style="width: 100%; height: auto"
                    class="imagens"
                    src="../../assets/certificadoJoshuaRocketseat.png"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">IGTI</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                <button
                  class="btn botoes btn-sm"
                  (click)="openModal(fullstackigti)"
                >
                  Certificado
                </button>
                Bootcamp onde conhecerão técnicas de construção de uma aplicação
                passando por todas as suas camadas lógicas - backend com Node,
                frontend com React, persistência de dados NoSQL, controle de
                versionamento de código com Git e implantação em nuvem -
                habilitando-se para atuar profissionalmente na área.
              </span>
              <ng-template #fullstackigti>
                <div class="modal-header header-modal">
                  <h4 class="modal-title pull-left">
                    Certificado Bootcamp - Gostack 11
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="modalRef.hide()"
                    >
                      <span class="header-modal-close" aria-hidden="true"
                        >&times;</span
                      >
                    </button>
                  </h4>
                </div>
                <div class="modal-body modalcss">
                  <img
                    style="width: 100%; height: auto"
                    class="imagens"
                    src="../../assets/certificadoFullStackIGTI.png"
                  />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">IGTI</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="ni ni-spaceship"> </i>
                  </div>
                </div>
              </div>
              <span class="h3 font-weight-bold mb-0">
                (Em Andamento) - O Bootcamp tem como objetivo apresentar
                conceitos fundamentais sobre o desenvolvimento Front-End e
                orientar o aluno a praticar codificação utilizando as 3
                principais ferramentas de desenvolvimento Front-End do mercado
                (React, Angular e Vue).
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
