.escolaridade {
  min-height: 60vh;
  position: relative;
  -webkit-print-color-adjust: exact;
}

.cardCovidInternal {
  /* border: 1px solid #fff; */
  box-shadow: 0 0 4px 4px #b0e2ff;
  background-color: #3b1d98;
  min-height: 140px;
}

h3,
.h3 {
  font-size: 1.0625rem;
  color: #fff;
}

@media (max-width: 576px) {
  h3,
  .h3 {
    font-size: 0.7625rem;
  }
}
