<div class="container escolaridade">
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Uniesp</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-laptop-code"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                MBA Full Stack Web Development - 2021 (Em andamento)
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Unyleya</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-laptop-code"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Especialista em DESENVOLVIMENTO WEB FULL STACK - 2021
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Estácio</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-laptop-code"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Especialista em Engenharia de Software - 2020
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">Uniespe</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-graduation-cap"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Tecnólogo em Análise e Desenvolvimento de Sistemas - 2007
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animacaoTopDown">
    <div class="col-xl-12 col-md-6">
      <div class="card cardCovidInternal card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="cabecalho">
                <h5 class="card-title text-uppercase mb-0 labels">UFCG</h5>
                <div class="col-auto">
                  <div
                    class="icon botoes icon-shape text-white rounded-circle shadow"
                  >
                    <i class="fas fa-graduation-cap"></i>
                  </div>
                </div>
              </div>
              <span class="h3 textCurriculo font-weight-bold mb-0">
                Licenciatura Plena em Matemática - 2004
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
