<div class="container escolaridade">
  <app-escolaridade-item
    titulo="Pós-graduação Go Expert - Full Cycle (Em andamento)"
    [destaque]="true"
    >Alcance o próximo nível em programação com a pós-graduação em Go Lang.
    Aprenda de forma prática e aprofundada sobre a linguagem de programação Go,
    suas melhores práticas e aplicações reais.
  </app-escolaridade-item>
  <app-escolaridade-item
    titulo="MBA em Arquitetura Full Cycle - Full Cycle"
    [destaque]="false"
  >
    O MBA em Arquitetura Full Cycle é uma formação completa, reconhecida pelo
    MEC, que trabalhará as principais habilidades que um desenvolvedor precisa
    para ser capaz de liderar, arquitetar e entregar projetos de grande porte
    para grandes empresas e ter um dos perfis mais bem pagos e desejados do
    mercado.</app-escolaridade-item
  >
  <app-escolaridade-item
    titulo="Pós-graduação em Liderança Técnica - Full Cycle"
    [destaque]="false"
  >
    Nosso programa de Pós-Graduação em Liderança Técnica é a trilha perfeita
    para quem quer estar na frente do cenário tecnológico, unimos habilidades
    técnicas de última geração com expertise em liderança estratégica,
    preparando você para enfrentar os desafios mais complexos com confiança e
    inovação.</app-escolaridade-item
  >
  <app-escolaridade-item
    titulo="MBA - Full Stack Web Development - Uniesp"
    [destaque]="false"
    >Fomentar o ecossistema de TI nacional e internacional, formando
    profissionais diferenciados que podem se tornar colaboradores das principais
    empresas de TI do mundo, além de ter um projeto especialmente articulado com
    o ecossistema de TI local; - Formar profissionais empreendedores que pensem
    no Software como um produto e saibam como captar recursos para transformar
    uma ideia em um negócio; - Oferecer práticas com as principais Tecnologias e
    Frameworks Front-end; - Oferecer práticas com as principais Tecnologias e
    Frameworks Back-end; - Oferecer práticas com as principais tecnologias na
    área de Devops, Software Testing e Cloud Computing; - Discutir os principais
    problemas de pesquisa aberta na área de Desenvolvimento de Sistemas Web.
  </app-escolaridade-item>
  <app-escolaridade-item
    titulo="Especialista em Engenharia de Software - Estácio"
    [destaque]="false"
  ></app-escolaridade-item>
  <app-escolaridade-item
    titulo="Tecnólogo em Análise e Desenvolvimento de Sistemas - Uniespe"
    [destaque]="false"
  ></app-escolaridade-item>
  <app-escolaridade-item
    titulo="Licenciatura Plena em Matemática -UFCG"
    [destaque]="false"
  ></app-escolaridade-item>
</div>
