<div class="container escolaridade">
  <app-escolaridade-item
    titulo="Full Cycle"
    descricao="MBA em Arquitetura Full Cycle (Em andamento)"
    [destaque]="true"
  ></app-escolaridade-item>
  <app-escolaridade-item
    titulo="Full Cycle"
    descricao="Pós-graduação Go Expert (Em andamento)"
    [destaque]="true"
  ></app-escolaridade-item>
  <app-escolaridade-item
    titulo="Uniesp"
    descricao="MBA - Full Stack Web Development"
    [destaque]="false"
  ></app-escolaridade-item>
  <app-escolaridade-item
    titulo="Estácio"
    descricao="Especialista em Engenharia de Software"
    [destaque]="false"
  ></app-escolaridade-item>
  <app-escolaridade-item
    titulo="Uniespe"
    descricao="Tecnólogo em Análise e Desenvolvimento de Sistemas"
    [destaque]="false"
  ></app-escolaridade-item>
  <app-escolaridade-item
    titulo="UFCG"
    descricao="Licenciatura Plena em Matemática"
    [destaque]="false"
  ></app-escolaridade-item>
</div>
