/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  -webkit-print-color-adjust: exact !important;
}

body {
  font-family: "Roboto", sans-serif !important;

  border-color: #fff;
  background: #fff;
  background-image: linear-gradient(to bottom, #fff, #fff);
}

.animacaoTopDown {
  opacity: 0;
  transform: translateY(-20px);
  animation: animacaoTopDown 2s forwards;
}

@keyframes animacaoTopDown {
  to {
    opacity: 1;
    transform: initial;
  }
}

.modalcss {
  border-left: 3px solid #4b0082 !important;
  border-right: 3px solid #4b0082 !important;
  border-bottom: 3px solid #4b0082 !important;
}

.header-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #4b0082 !important;
  border: 3px solid #4b0082 !important;
  color: white;
}

.header-table {
  background: #4b0082 !important;
  border: 3px solid #4b0082 !important;
  color: white;
}

.header-modal h4 {
  color: #fff;
}

.header-modal-close {
  color: white !important;
}

.botoes {
  background-color: #4b0082 !important;
  border: 2px solid #fff !important;
  color: #fff !important;
  margin: 5px;
}

.botoes:hover {
  background-color: #fff !important;
  border: 2px solid #4b0082 !important;
  color: #4b0082 !important;
  margin: 5px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.labels-destaque {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #4b0082;
  margin: 0 !important;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}

.cardCovidInternalDestaque {
  /* border: 1px solid #fff; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
  background-color: #3f51b5 !important;
  min-height: 140px !important;
}

.font-destaque {
  color: #fff !important;
}

.list-group-item-dark {
  color: #111315 !important;
  background-color: #fff !important;
}

.list-group-item-dark:hover {
  color: #fff !important;
  background-color: #4b0082 !important;
}

.labels {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #4b0082;
  margin: 0 !important;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}

.labels-internal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 0 3px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  color: #000;
  background: #fff;

  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}

.labels-internal span {
  margin-left: 10px;
  font-weight: lighter;
  font-style: italic;
}

.labelsCovid {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.textCurriculo {
  color: #000 !important;
}

.textCurriculoDestaque {
  color: #fff !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.cardCovidText {
  color: #000 !important;
}

.pesquisar-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pesquisar-texto {
  color: #000;
  background-color: #dcdcdc;
  padding: 8px;
  border-radius: 4px;
  margin: 5px;
}

.card-header {
  background-color: #000 !important;
}

.card-header-title {
  color: #fff !important;
}

.card-header-flag {
  box-shadow: 0 0 4px 4px #fff !important;
  margin-right: 10px;
}

.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .labels {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background: #4b0082;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
  }

  .cardCovidText {
    color: #000 !important;
  }
}
