/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./card.css";
@import "./toggle.css";
@import "./topo.css";
@import "./rodape.css";
@import "./navlink.css";
@import "./navbar.css";
@import "./menu.css";

/* Tema Diurno */
.theme-day {
  background-color: #ffffff;
  color: #333;
}

.theme-day .btn {
  background-color: #e7e7e7;
  color: #28527a;

  &:hover {
    color: #ffffff;
  }
}

.theme-night {
  background-color: #121212;
  color: #e0e0e0;
}

.theme-night .btn {
  background-color: #a67c00 !important;
  color: #ffffff;

  &:hover {
    background-color: #c89f40 !important;
    color: #ffffff;
  }
}
