/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif !important;

  border-color: #fff;
  background: #f2f2f2 !important;
}

.animacaoTopDown {
  opacity: 0;
  transform: translateY(-20px);
  animation: animacaoTopDown 2s forwards;
}

@keyframes animacaoTopDown {
  to {
    opacity: 1;
    transform: initial;
  }
}

:host ::ng-deep .ng2-pdf-viewer-container {
  height: auto !important;
  overflow-y: hidden !important;
}

.btn-info {
  color: #fff !important;
  background: #003366 !important;
  margin: 3px;
}

.btn-info:hover {
  color: #fff !important;
  background: rgba(0, 51, 102, 0.5) !important;
}

.header-modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: #003366 !important;
  color: #fff;
}

.labels {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #003366;
  margin: 0 !important;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}

.cardCovidInternal {
  box-shadow: 4px 6px rgba(0, 51, 102, 0.7) !important;
  background: #6699cc !important;
  min-height: 140px;
  margin: 20px 20px;
  border: 5px solid #003366 !important;
}

.cardCovidInternal:hover {
  box-shadow: 4px 6px rgba(0, 0, 128, 0.7) !important;
  background: #4169e1 !important;
  min-height: 140px !important;
  margin: 20px 20px;
  border: 5px solid #003366 !important;
}

.cardCovidInternal:hover span {
  color: #fff !important;
}

.cardCovidInternalDestaque {
  box-shadow: 4px 6px rgba(0, 51, 102, 0.7) !important;
  background: #c0c0c0 !important;
  min-height: 140px !important;
  margin: 20px 20px;
  border: 5px solid #003366 !important;
}

.cardCovidInternalDestaque:hover {
  box-shadow: 4px 6px rgba(0, 0, 128, 0.7) !important;
  background: #a0a0a0 !important;
  min-height: 140px !important;
  margin: 20px 20px;
  border: 5px solid #003366 !important;
}

.cardCovidInternalDestaque span {
  color: #000 !important;
}

.cardCovidInternalDestaque:hover span {
  color: #fff !important;
}

.h3 {
  font-size: 20px !important;
  color: #000;
}

@media (max-width: 576px) {
  .h3 {
    font-size: 16px;
  }
}
