.topo {
  background-size: 100% 100%;
  height: 210px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-print-color-adjust: exact;
}

.imagem {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid #fff; /* A borda é branca em ambos os temas para contraste */
}

.texto {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

a {
  transition: color 0.2s ease-in-out;
}

a:hover {
  transition: color 0.2s ease-in-out;
}

.theme-night .topo {
  background: #262626; /* Fundo cinza muito escuro, quase preto */
  border-bottom: 1px solid #daa520 !important; /* Borda inferior em um cinza ainda mais escuro */
  color: #fff; /* Texto branco para contraste */
}

.theme-night a {
  color: #adb5bd; /* Um cinza claro para links */
}

.theme-night a:hover {
  color: #ced4da; /* Cinza mais claro no hover */
}

.theme-night .texto {
  color: #fff; /* Texto branco para contraste */
}

.theme-day .topo {
  background: #f1f1f1; /* Fundo claro */
  border-bottom: 1px solid #007bff; /* Borda inferior em cinza claro */
  color: #333; /* Texto escuro para contraste */
}

.theme-day a {
  color: #333; /* Cor escura para links */
}

.theme-day a:hover {
  color: #555; /* Um cinza escuro no hover */
}

.theme-day .texto {
  color: #333; /* Texto escuro para contraste */
}

@media (max-width: 576px) {
  .topo {
    height: 25vh;
  }

  .imagem {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .texto {
    font-size: 16px;
  }
}
