.topo {
  background: #696969;
  background-image: linear-gradient(#3f51b5, #3f51b5);

  border-bottom: 2px solid #e6e6fa;
  color: #fff;
  background-size: 100% 100%;
  min-height: 18vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: #4b0082;
}

.curriculoBackground,
.curriculoBackground:active {
  border: 2px solid #4b0082 !important;
  color: #fff;
  background: #696969;
  background-image: linear-gradient(#3f51b5, #3f51b5);
}

.menuCurriculo {
  color: #3f51b5;
}

.menuCurriculoLi:hover {
  cursor: pointer;
  color: #fff;
  background-color: #3f51b5;
}

.menuCovid {
  color: #3f51b5;
}

.barra {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #fff, #fff);
  box-shadow: 2px 2px 3px 3px #4b0082;
  height: 52px;
  margin-bottom: 10px;
}

.menu {
  margin-left: 1px;
}

.menuCovidLi:hover {
  cursor: pointer;
  color: #fff;
  background-color: #696969;
}

.cardCovidInternalDestaque {
  /* border: 1px solid #fff; */
  box-shadow: 0 0 4px 4px #696969 !important;
  background-color: #000 !important;
  min-height: 140px !important;
}

.texto {
  color: #fff;
  font-size: 35px;
}

.imagem {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .imagem {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .texto {
    font-size: 18px;
  }

  .barra {
    margin-top: 30px;
  }
}
