<div class="topo mb-4">
  <div class="container">
    <div class="row" style="max-width: 1024px">
      <div class="col">
        <div class="d-flex mt-2 justify-content-center">
          <h1 style="color: #000" class="texto">
            <img
              style="border: 2px solid #000"
              class="imagem"
              src="../../assets/joshua.jpg"
            />Joshua Maia Rodrigues -
            <a
              href="https://www.linkedin.com/in/joshua-maia-rodrigues-662634110/"
              ><fa-icon [icon]="['fab', 'linkedin']"></fa-icon
            ></a>
            -
            <a href="https://github.com/joshuamaia"
              ><fa-icon [icon]="['fab', 'github']"></fa-icon
            ></a>
          </h1>
        </div>
      </div>
    </div>
    <app-menu></app-menu>
  </div>
</div>
